# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.xml
*.iml
*.png
# Ignore T1 library and .vscode library
T1
.vscode
*.mat